@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/FontsFree-Net-ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'ProximaNovaBold';
    font-weight: bold;
    src: url('../fonts/FontsFree-Net-Proxima-Nova-Bold.otf');
}

:root {
    --color-primary: #f75c03;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 8, 8);
    color: #fff;
    padding: 1em 1.25em;
    font-family: 'ProximaNova';
}

.chat-icon {
    position: fixed;
    bottom: 2em;
    right: 1em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-primary);
    background-image: url('../img/chat_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border: none;
    outline: none;
}

header {
    background-color: rgb(8, 8, 8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em 1.25em;
}

header nav {
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-icon {
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url('../img/menu_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    outline: none;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .copy {
    margin-bottom: 2em;
    font-size: 1.2em;
    line-height: calc(1em * 1.618);
}

.indicador {
    text-transform: uppercase;
    font-family: 'ProximaNovaBold';
    color: #595959;
    font-size: 0.7em;
    width: 100%;
    height: 1em;
    position: absolute;
    bottom: -2em;
    overflow: hidden;
    left: 0;
    background-color: rgb(8, 8, 8);
}

.indicador span {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1em;
    transition: transform 0.5s ease;
}

.card {
    width: 100%;
    margin-bottom: 2em;
}

.card .portada {
    width: 100%;
    margin-bottom: 1em;
}

.card .info .title,
.card .info .price {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: 400;
}

.card.paquete .info .title {
    border-right: 3px solid #595959;
    padding-right: 1em;
}

.card .info .price {
    padding-left: 1em;
}

.card .sub-title {
    color: #595959;
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: 'ProximaNovaBold';
}

.card .detalles {
    opacity: 1;
    transition: height 1s ease;
    overflow: hidden;
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #595959;
}

.card .detalles.hidden {
    height: 0 !important;
    opacity: 0;
}

.card .detalles p {
    margin-bottom: 1em;
    text-align: left;
}

.call-to-action {
    background-color: #f75c03;
    padding: 0.5em 1.25em;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1em #f75c03;
    margin-bottom: 1em;
    font-family: 'ProximaNovaBold';
}

.nosotros div {
    text-align: right;
    font-size: 1.2em;
}

.nosotros p {
    width: 80%;
    margin-bottom: 0.5em;
    text-align: left;
}

.nosotros img {
    width: 50%;
    margin-bottom: 0.5em;
}

.team {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
}

.miembro .header {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 2em;
    align-items: center;
}

.miembro .info {
    text-align: center;
    line-height: 1.7em;
}

.miembro .name {
    font-size: 1.2em;
    display: inline-block;
    border-bottom: 2px solid #595959;
}

.miembro .skills {
    font-size: 0.8em;
    font-weight: 400;
    color: #595959;
    margin-bottom: 1em;
    padding: 0 0.5em;
    text-transform: uppercase;
}

.miembro .call-to-action {
    font-size: 0.5em;
}

.miembro .quote {
    font-size: 1.2em;
}